ion-header{
    
    --ion-background-color: #000000;   
    
}

ion-content{
    --ion-background-color: #000000;

    ion-slides{
        h1{
            color:#A1A1A1;
            font-size:10px
        }

        .card1{
            background-image: url('../../assets/cards/11.png') ;
        background-size: cover;
        background-position: center;
        width:80%;
        height:500px;
        border-radius: 20px;
     display: inline-block;
        }

        .card2{
            background-image: url('../../assets/cards/12.png') ;
        background-size: cover;
        background-position: center;
        width:80%;
        height:500px;
        border-radius: 20px;
     display: inline-block;
        }

        .card3{
            background-image: url('../../assets/cards/13.png') ;
        background-size: cover;
        background-position: center;
        width:80%;
        height:500px;
        border-radius: 20px;
     display: inline-block;
        }
    }

    .btn{
       height:120%;

        .icon{
            font-size:60px;
            color:#BB2F2F
        }
    }
    

   
}