ion-header{
    
    --ion-background-color: #000000;   
    
}

ion-content{
    --ion-background-color: #000000;
    

    ion-input{
        color:#BB2F2F;
        font-size:20px;
        text-align: center;
    }

   .playbtn{
    height:80%;
    --border-radius:40px;
    
             .play-icon{
                 font-size:20px;
                 color:#50E3C2
             } 
     
    }

    .more{
        height:60%;
        .more-icon{
            font-size:30px;
                 color:#A1A1A1;
                 margin-top:30px
        }
    }
}