<ion-header>
  <ion-toolbar>
    
    <ion-row>
      <ion-back-button icon="arrow-back-circle" color="light">
      </ion-back-button>
    </ion-row>
  
        <ion-row class="ion-padding-top">
          <ion-col size="12">
            <ion-title style="color:#A1A1A1;font-size:26px;text-align: left;">RADIO</ion-title>
          </ion-col>
          <ion-col size="12">
            <ion-title style="color:#585858;font-size:12px;text-align: left;">READ YOUR FAVOURITE TOPICS</ion-title>
          </ion-col>
          
        </ion-row>
        
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="height:50px"></div>
<ion-row>
  <ion-col size="4">
   <ion-button fill="outline" color="light" class="playbtn">
    <ion-icon name="play-outline"  class="play-icon"></ion-icon>
   </ion-button>
  </ion-col>
  <ion-col size="6">
    <h1 style="color:#BB2F2F;font-size:15px;">NEWS</h1>
    <h1 style="color:#838282;font-size:10px;margin-top:-5px">Covid 19 hits again</h1>
  </ion-col>

  <ion-col size="2">
    <ion-button fill="clear" class="more">
      <ion-icon name="ellipsis-horizontal-sharp" class="more-icon"></ion-icon>
    </ion-button>
  </ion-col>
</ion-row>

<ion-row>
  <ion-col size="4">
   <ion-button fill="outline" color="light" class="playbtn">
    <ion-icon name="play-outline"  class="play-icon"></ion-icon>
   </ion-button>
  </ion-col>
  <ion-col size="6">
    <h1 style="color:#BB2F2F;font-size:15px;">ENTERTAINMENT</h1>
    <h1 style="color:#838282;font-size:10px;margin-top:-5px">Martin Garrix Show</h1>
  </ion-col>

  <ion-col size="2">
    <ion-button fill="clear" class="more">
      <ion-icon name="ellipsis-horizontal-sharp" class="more-icon"></ion-icon>
    </ion-button>
  </ion-col>
</ion-row>



<ion-row>
  <ion-col size="4">
   <ion-button fill="outline" color="light" class="playbtn">
    <ion-icon name="play-outline"  class="play-icon"></ion-icon>
   </ion-button>
  </ion-col>
  <ion-col size="6">
    <h1 style="color:#BB2F2F;font-size:15px;">HOLLYWOOD</h1>
    <h1 style="color:#838282;font-size:10px;margin-top:-5px">A1 movie gets released</h1>
  </ion-col>

  <ion-col size="2">
    <ion-button fill="clear" class="more">
      <ion-icon name="ellipsis-horizontal-sharp" class="more-icon"></ion-icon>
    </ion-button>
  </ion-col>
</ion-row>


<ion-row>
  <ion-col size="4">
   <ion-button fill="outline" color="light" class="playbtn">
    <ion-icon name="play-outline"  class="play-icon"></ion-icon>
   </ion-button>
  </ion-col>
  <ion-col size="6">
    <h1 style="color:#BB2F2F;font-size:15px;">POLITICS</h1>
    <h1 style="color:#838282;font-size:10px;margin-top:-5px">New President gets elected!</h1>
  </ion-col>

  <ion-col size="2">
    <ion-button fill="clear" class="more">
      <ion-icon name="ellipsis-horizontal-sharp" class="more-icon"></ion-icon>
    </ion-button>
  </ion-col>
</ion-row>



<ion-row>
  <ion-col size="4">
   <ion-button fill="outline" color="light" class="playbtn">
    <ion-icon name="play-outline"  class="play-icon"></ion-icon>
   </ion-button>
  </ion-col>
  <ion-col size="6">
    <h1 style="color:#BB2F2F;font-size:15px;">HEALTH & BENEFITS</h1>
    <h1 style="color:#838282;font-size:10px;margin-top:-5px">New Medicines Out</h1>
  </ion-col>

  <ion-col size="2">
    <ion-button fill="clear" class="more">
      <ion-icon name="ellipsis-horizontal-sharp" class="more-icon"></ion-icon>
    </ion-button>
  </ion-col>
</ion-row>

</ion-content>
