


<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom" class="bar">
      <ion-tab-button tab="explore">
        <ion-icon name="grid-outline"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="podcasts">
        <ion-icon name="headset-sharp"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="live">
        <ion-icon name="folder-outline"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="profile">
        <ion-icon name="person-outline"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

</ion-content>
