<ion-header>
  <ion-toolbar>
    
    <ion-row>
      <ion-back-button icon="arrow-back-circle" color="light">
      </ion-back-button>
    </ion-row>
  
        <ion-row class="ion-padding-top">
          <ion-col size="12">
            <ion-title style="color:#A1A1A1;font-size:26px;text-align: left;">MOVIES</ion-title>
          </ion-col>
          <ion-col size="12">
            <ion-title style="color:#585858;font-size:12px;text-align: left;">READ YOUR FAVOURITE TOPICS</ion-title>
          </ion-col>
          
        </ion-row>
        
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="height:50px"></div>
<ion-row>
  <ion-col size="4">
<img src="../../assets/cards/15.png"/>
  </ion-col>
  <ion-col size="6">
    <h1 style="color:#BB2F2F;font-size:15px;">Watch Trailers</h1>
    <h1 style="color:#838282;font-size:12px;margin-top:-5px">Playlist for trailers</h1>
  </ion-col>

  <ion-col size="2">
    <ion-button fill="clear" class="more">
      <ion-icon name="ellipsis-horizontal-sharp" class="more-icon"></ion-icon>
    </ion-button>
  </ion-col>
</ion-row>

<ion-row>
  <ion-col size="4">
<img src="../../assets/cards/16.png"/>
  </ion-col>
  <ion-col size="6">
    <h1 style="color:#BB2F2F;font-size:15px;">Make Your List</h1>
    <h1 style="color:#838282;font-size:12px;margin-top:-5px">Add favourite content</h1>
  </ion-col>

  <ion-col size="2">
    <ion-button fill="clear" class="more">
      <ion-icon name="ellipsis-horizontal-sharp" class="more-icon"></ion-icon>
    </ion-button>
  </ion-col>
</ion-row>


<ion-row>
  <ion-col size="4">
<img src="../../assets/cards/17.png"/>
  </ion-col>
  <ion-col size="6">
    <h1 style="color:#BB2F2F;font-size:15px;">Watch Later</h1>
    <h1 style="color:#838282;font-size:12px;margin-top:-5px">Can be watched later</h1>
  </ion-col>

  <ion-col size="2">
    <ion-button fill="clear" class="more">
      <ion-icon name="ellipsis-horizontal-sharp" class="more-icon"></ion-icon>
    </ion-button>
  </ion-col>
</ion-row>
</ion-content>
