ion-header{
    
    --ion-background-color: #000000;   
    
    .backBtn{
        height:40px;
        --font-size:40px;
    }
}

ion-content{
    --ion-background-color: #000000;
    
ion-card{
    height:200px;
    width:100%;
}
  
}