<ion-header>
  <ion-toolbar>

    <ion-row>
     <ion-card style="background-image: url('../../assets/cards/31.png') ;
     background-size: cover;
     background-position: center;
     width:100%;
     height:500px;
     border-radius: 20px;
     display: inline-block;">
     <div style="height:300px"></div>
       <ion-col size="12">
         <h1 style="color:#fff;font-size:15px">NEWS</h1>
         <h2 style="color:#fff;font-size:12px">Covid-19 hits again</h2>
         <p style="color:#fff;text-shadow: #000;font-size:12px">To prevent the spread of the Indian Covid-19 variant in Pakistan, the National Command and Operation Centre (NCOC) had last week placed India in the category C list, banning entry of passengers from the country through air and land routes for two weeks.</p>
       </ion-col>
     </ion-card>

     <ion-col size="2">
       
      <ion-back-button icon="arrow-back-circle"  class="backBtn"color="light">
      </ion-back-button>
     </ion-col>
    </ion-row>

  </ion-toolbar>
</ion-header>

<ion-content>

  
   

</ion-content>