ion-header{
    --ion-background-color: #000000;
}


ion-content{
    --ion-background-color: #000000;
  
    ion-item{
      padding:10px;
      .box {
        border-color: #403E39;
        border-width: thin;
        border-style: solid;
        border-radius: 20px;
        color:#A1A1A1;
        padding-top:50px;
        padding-bottom:50px;
        text-align: center;
        width:100%;
    
    }

    .box2 {
        border-color: #403E39;
        border-width: thin;
        border-style: solid;
        border-radius: 20px;
        color:#A1A1A1;
        
        
        text-align: center;
        width:100%;
    
    }

    }
    .icon{
      color:#50E3C2;
      font-size:25px;
      
    }
    .loginBtn{
      --border-radius: 50px;
      --border-width: thin;
      --padding-top:25px;
        --padding-bottom:25px;
    }
    .Btnicon{
      font-size: 35px;
    }
  
  }
  
  