<ion-header>
  <ion-toolbar>
    <ion-row>
      <ion-back-button icon="arrow-back-circle" color="light">
      </ion-back-button>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="height:250px"></div>
<ion-row>
  <ion-col size="12">
    <h1 style="text-align: center;font-size:18px;color:#8b8b8b">Enable to access so you can start taking photos and videos</h1>
  </ion-col>
</ion-row>
<ion-row class="ion-padding-top">
  <ion-col size="12" class="ion-text-center">
    <ion-icon name="checkmark" class="tick-icon"></ion-icon>
    <span style="font-size:18px;color:#8b8b8b">Camera Access Enabled </span>
    <ion-button fill="clear" (click)="Broadcast()">
      <span style="font-size:18px;color:#256CBE">
        Enable Microphones Access 
      </span>
    </ion-button>
   
  </ion-col>
</ion-row>
</ion-content>
